name: Continuous Integration

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  workflow_dispatch: ~

  schedule:
    - cron: '0 8 * * 1'

jobs:
  gcc:
    uses: ./.github/workflows/gcc.yml

  clang:
    uses: ./.github/workflows/clang.yml

  clang:
    uses: ./.github/workflows/apple-clang.yml

  msvc:
    uses: ./.github/workflows/msvc.yml

  examples:
    uses: ./.github/workflows/examples.yml
  
  module_tests:
    uses: ./.github/workflows/module-tests.yml
