name: Make release package
permissions:
  contents: write

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Configure project
        run: cmake -E tar c cpp-lazy-src.zip --format=zip -- src/ include/ CMakeLists.txt LICENSE.md cmake/
      
      - name: Add package to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: cpp-lazy-src.zip
          tag: ${{ github.ref }}
